# See http://help.github.com/ignore-files/ for more about ignoring files.

/lib
/template
/test
/node_modules
.babelrc
.eslintrc
.gitginore
.npmignore
CODE_OF_CONDUCT.md
index.js
rollup.config.js
webpack.config.js

# dependencies

# misc
npm-debug.log

# System Files
.DS_Store
Thumbs.db

# Jest output
__snapshots__
