# See http://help.github.com/ignore-files/ for more about ignoring files.

/lib
/src
/template
/test
/node_modules
.babelrc
.eslintrc
.gitginore
.npmignore
CODE_OF_CONDUCT.md
rollup.config.js
webpack.config.js

# dependencies

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log

# System Files
.DS_Store
Thumbs.db
